@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --primary-color: rgb(5, 59, 109);
  --secondary-color: rgba(59, 109, 156, 0.274);
}

.navbar {
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 5rem;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
}

.left {
  font-size: 1.5rem;
  cursor: pointer;
  flex-direction: row;
}

.list {
  display: flex;
  list-style: none;
}

.list li a {
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.list li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: rgb(22, 7, 36);
}

#beranda {
  color: #fff;
  background-image: url("bgs.jpg");
  height: 100vh;
  display: flex;
  padding-left: 170px;
  align-items: center;
  background-size: cover;
}

.home1 {
  line-height: 1.5;
}

.home1 p {
  font-size: 15px;
}

.home1 h2 {
  font-size: 50px;
}

.home1 h3 {
  font-size: 30px;
}

.home1 hr {
  border: 1.5px solid yellow;
  width: 172px;
}

#about {
  color: #fff;
  height: 80vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}

.about1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  gap: 3em;
  text-align: justify;
}

#about img {
  width: 500px;
  border-radius: 15px;
  border: 1px solid #fff;
}

.isiabout hr {
  width: 212px;
  margin: 10px 0 10px 0;
  border: 1.5px solid yellow;
}

.about h1 {
  align-items: center;
  justify-content: center;
}

/* UNGGULAN */
.unggulan {
  height: 45vh;
  background-color: var(--secondary-color);
}
.unggulan h2 {
  color: var(--primary-color);
  text-align: center;
  padding: 30px;
}
.icon {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  gap: 1em;
}

.main1 {
  width: 250px;
  text-align: center;
}

.main1 h4 {
  color: var(--primary-color);
  padding: 10px;
}
.main1 p {
  font-size: 13px;
  text-align: justify;
}

#service {
  color: white;
  height: 100vh;
  background-color: var(--primary-color);
}

#service h1 {
  text-align: center;
  padding-top: 80px;
}

#service hr {
  width: 210px;
  margin: 10px auto;
  border: 1.5px solid yellow;
}

.isiservice {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-top: 50px;
}

.isiservice p {
  text-align: justify;
  padding: 5px;
  line-height: 1.25rem;
}

.layanan1 {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  border: 1px solid white;
  text-align: center;
  background-color: var(--secondary-color);
}

.layanan1 img {
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.img2 {
  height: 200px;
}

#contact {
  height: 30vh;
  background-color: var(--secondary-color);
}

.isicontact {
  padding-top: 30px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  gap: 2em;
}

.contact1 {
  width: 300px;
  color: var(--primary-color);
}

.contact3 {
  display: flex;
}

.iconcontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.contacthub {
  padding: 8px;
}
